<?xml version="1.0" encoding="UTF-8" standalone="yes"?><jarSettings><jvm>default</jvm><homedir>/Volumes/DATA/Mac/WorkSpace/visualynk_new/home</homedir><address>localhost</address><proxyHost></proxyHost><useProxy>false</useProxy><proxyPort>1080</proxyPort><port>8082</port><heapsize>6442m</heapsize><stacksize>1024k</stacksize><forceipv4>false</forceipv4></jarSettings>