<div class="row-fluid" >
    <!-- BEGIN EMPTY PAGE SIDEBAR -->
    <div class="page-sidebar nav-collapse collapse visible-phone visible-tablet no-margin">
        <ul class="page-sidebar-menu">
            <li><a href="/#/login">Log out</a></li>
        </ul>
    </div>
    <div class="panel-sidebar page-sidebar " style="height:100% !important;">

        <!-- BEGIN SIDEBAR MENU -->

        <ul class="page-sidebar-menu admin-sidebar-menu">
            <li><a ng-href="/#/admin/company">Company</a></li>
            <li><a ng-href="/#/admin/users">Users</a></li>
            <li><a ng-href="/#/admin/permissions">Permissions</a></li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <div class="page-content margin-top-20 bg-white" >
        <div class="container-fluid no-padding">
            <div class="row-fluid padding-left-20 padding-right-20">
                <div id="" class="span12" >
                    <div class="panel-item" elheightresize slimscroll>
                        <p>Admin Dashboard</p>
                        <p>Admin Dashboard end</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>