<script src="vendor/demo-1.js"></script>
<style>
    #content{
        padding:0;
    }
</style>
<div data-ng-controller="main as vm" class="content">
    <div id="large-header" class="large-header col-md-12 col-sm-12 col-xs-12">
        <canvas id="demo-canvas"></canvas>
        <h1 class="main-title" style="color:#EF4836; font-family: Raleway"><span><</span>Visua<span style="color:#59ABE3">Lynk</span><span class="blink" style="color:#ffffff">_</span><span style="color:#59ABE3">/></span>
            <br><span class="thin" style="color:white">the collective platform of your linked building data</span>
            <br>
            <br>
            <!--<input type="button" class="main_program_button" name="main_program" value="Start" onclick="window.open('visualynk/main.html','_parent','resizable=yes')">--></h1>
    </div>
    <div id="section2" class="large-header2">
        <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
            <br>
            <br>
            <h1 class="col-md-12 col-sm-12 col-xs-12">Visual, Collective and Linked Building Data <span>Buidling information is fragmented. VisuaLynk's state-of-the-art <b>Web of Building Data</b>, intelligent
						<b>Data Analytics</b> and easy-to-use <b>Visual Management</b> modules combines your fragmented building information <b>visually</b> and <b>intelligently</b> !</span></h1>
        </div>
        <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="feature-slider/" width="100%" height="100%" style="border:0px solid"></iframe>

    </div>

    <div id="section3"class="large-header3">
        <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
            <br>
            <br>
            <h1 class="col-md-12 col-sm-12 col-xs-12">Benefit the Unique Features of VisuaLynk</h1>
        </div>
        <iframe class="col-md-12 col-sm-12 col-xs-12 framer"src="features/" width="100%" height="100%" style="border:0px solid"></iframe>
    </div>

    <div id="section4"class="large-header4">
        <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
            <br>
            <br>
            <h1 class="col-md-12 col-sm-12 col-xs-12">Meet the Team Behind VisuaLynk <span>We believe small teams can carry a big punch.<br>We are talented, passionate, and dedicated
              team focused on delivering an innovative and easy-to-use platform for our clients.</span></h1>
        </div>
        <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="team3/" width="100%" height="100%" style="border:0px solid"></iframe>
    </div>

    <div id="section5"class="large-header5">
        <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
            <br>
            <br>
            <h1 class="col-md-12 col-sm-12 col-xs-12">VisuaLynk is Proudly Partnering with <span>We believe small teams can carry a big punch.<br>We are talented, passionate, and dedicated
              team focused on delivering an innovative and easy-to-use platform for our clients.</span></h1>
        </div>
        <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="partners/" width="100%" height="100%" style="border:0px solid"></iframe>
    </div>

    <div id="section6"class="large-header6">
        <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
            <br>
            <br>
            <h1 class="col-md-12 col-sm-12 col-xs-12">{ cont@ct } us <span>Please write us for any inquiries. We are looking forward to hear from you.</span></h1>
        </div>
        <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="contact/" width="100%" height="100%" style="border:0px solid"></iframe>
    </div>

</div>