<script src="vendor/demo-1.js"></script>
<style>
    #content{
        padding:0;
    }
</style>
<!-- sign in modal -->
<script type="text/ng-template" id="signin.html">
    <div class="ng-modal">
        <div class="col-md-6 col-xs-12"  ng-controller="signin as si">
            <button type="button" class="close" data-dismiss="modal" ng-click="close()"></button>
            <h3>Login</h3>
            <form name="form" ng-submit="si.signin()" role="form" class="contact-form">
                <div class="control-group padding-side-10">
                    <div ng-show="initFlash" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                </div>
                <div class="control-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <!--<label for="username">Username or Email</label>-->
                    <input type="text" name="username" class="form-control span4 m-wrap" ng-model="si.username" required placeholder="Username or Email" />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Please input the Username or email </span>
                </div>
                <div class="control-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                    <!--<label for="password">Password</label>-->
                    <input type="password" name="password" class="form-control span4 m-wrap" ng-model="si.password" required placeholder="Password"/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="">
                    <button type="submit" ng-disabled="form.$invalid || si.dataLoading" class="btn front">Login</button>
                    <img ng-if="si.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <!--<a href="#/register" class="btn btn-link">Register</a>-->
                </div>
            </form>
        </div>
    </div>
</script>

<!-- end modal -->
<!-- sign up modal -->
<script type="text/ng-template" id="signup.html">
    <div class="ng-modal">
        <div class="col-md-6 col-xs-12"  ng-controller="signup as su">
            <button type="button" class="close" data-dismiss="modal" ng-click="close()"></button>
            <h3>Register</h3>
            <form name="form" ng-submit="su.register()" role="form" class="contact-form">
                <div ng-show="initFlash" ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
                <div class="control-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                    <!--<label for="username">First name</label>-->
                    <input type="text" name="firstName" id="firstName" class="form-control span4 m-wrap" ng-model="su.firstName" required placeholder="First name"/>
                    <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                </div>
                <div class="control-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                    <!--<label for="username">Last name</label>-->
                    <input type="text" name="lastName" id="Text1" class="form-control span4 m-wrap" ng-model="su.lastName" required placeholder="Last name"/>
                    <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                </div>

                <div class="control-group" ng-class="{ 'has-error': form.userEmail.$dirty && form.userEmail.$error.required && form.userEmail.$error.email }">
                    <!--<label for="username">Email</label>-->
                    <input type="email" name="userEmail" id="userEmail" class="form-control span4 m-wrap" ng-model="su.userEmail" required placeholder="Email"/>
                    <span style='color:#843534;' ng-show="form.userEmail.$dirty && form.userEmail.$error.required" class="help-block">Enter is required.</span>
                    <span style='color:#843534;' ng-show="form.userEmail.$error.email" class="help-block">Enter a valid email.</span>
                </div>

                <div class="control-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <!--<label for="username">Username</label>-->
                    <input type="text" name="username" id="username" class="form-control span4 m-wrap" ng-model="su.username" required placeholder="Username"/>
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>

                <div class="control-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required } ">
                    <!--<label for="password">Password</label>-->
                    <input type="password" name="password" id="password" class="form-control span4 m-wrap" ng-model="su.password" required placeholder="Password"/>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>

                <div class="control-group" ng-class="{ 'has-error': form.repassword.$dirty && form.repassword.$error.required && form.repassword.$error.passwordVerify}">
                    <!--<label for="repassword">Confirm Password</label>-->
                    <input type="password" name="repassword" id="repassword" class="form-control span4 m-wrap" ng-model="su.repassword" required data-password-verify="su.password" placeholder="Confirm Password"/>
                    <span ng-show="form.repassword.$error.passwordVerify"  class="help-block">Fields are not equal!</span>
                </div>


                <div class="">
                    <button type="submit" ng-disabled="form.$invalid || su.dataLoading" class="btn front">Register</button>
                    <img ng-if="su.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </form>
        </div>

    </div>
</script>
<!-- end modal -->
<div data-ng-controller="main as vm" class="content">
    <div class="page-container row-fluid" >
        <!-- BEGIN EMPTY PAGE SIDEBAR -->
        <div class="page-sidebar nav-collapse collapse visible-phone visible-tablet no-margin">
            <ul class="page-sidebar-menu">
                <li><a class="no-border-left" ng-click="showContent('#section2')" href="#section2">About</a></li>
                <li><a class="no-border-left" ng-click="showContent('#section3')" href="#section3">Features</a></li>
                <li><a class="no-border-left" ng-click="showContent('#section4')" href="#section4">Team</a></li>
                <li><a class="no-border-left" ng-click="showContent('#section5')" href="#section5">Partners</a></li>
                <li><a class="no-border-left" ng-click="showContent('#section6')" href="#section6">Contact</a></li>
                <li><a class="no-border-left" ng-click="login()">Login</a></li>
                <li><a class="no-border-left" ng-click="register()">SignUp</a></li>
            </ul>
        </div>
    </div>
    <div class="page-content no-padding no-margin">
        <div class="container-fluid no-padding">
            <div class="row-fluid">
                <div id="large-header" class="large-header col-md-12 col-sm-12 col-xs-12">
                    <canvas id="demo-canvas"></canvas>
                    <h1 class="main-title" style="color:#EF4836; font-family: Raleway"><span><</span>Visua<span style="color:#59ABE3">Lynk</span><span class="blink" style="color:#ffffff">_</span><span style="color:#59ABE3">/></span>
                        <br><span class="thin" style="color:white">the collective platform of your linked building data</span>
                        <br>
                        <br>
                        <!--<input type="button" class="main_program_button" name="main_program" value="Start" onclick="window.open('visualynk/main.html','_parent','resizable=yes')">--></h1>
                </div>
            </div>
            <div class="row-fluid padding-side-10">
                <div id="section2" class="large-header2">
                    <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br>
                        <h1 class="col-md-12 col-sm-12 col-xs-12">Visual, Collective and Linked Building Data <span>Buidling information is fragmented. VisuaLynk's state-of-the-art <b>Web of Building Data</b>, intelligent
						<b>Data Analytics</b> and easy-to-use <b>Visual Management</b> modules combines your fragmented building information <b>visually</b> and <b>intelligently</b> !</span></h1>
                    </div>
                    <iframe  class="col-md-12 col-sm-12 col-xs-12 framer" src="feature-slider/" width="100%" height="100%" style="border:0px solid"></iframe>
                    <div class="accordion in collapse" id="accordion1" style="height: auto;">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">
                                    <div class="icon1"></div>
                                    Visual Data Management
                                </a>
                            </div>
                            <div id="collapse_1" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <span>
                                        <b style="color:#EF4836">Visua<span style="color:#59ABE3">Lynk</span></b> is the core center of easiness for your business and operations. Your fragmented
                                        building data is intelligently linked with each other. With explicit relationships between each information entity, you will have more than your data.
                                        Just one click is enough to see how your data is connected !
                                    </span>
                                    <div id="tabs-1"></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">
                                    <div class="icon2"></div>
                                    Web of Building Data
                                </a>
                            </div>
                            <div id="collapse_2" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <span>
                                        <b style="color:#EF4836">Visua<span style="color:#59ABE3">Lynk</span></b> is a paradigm shift in building information management.
                                        The state-of-the-art <b>Semantic Web</b> and <b>Linked Building Data</b> technologies allows the dynamic and intelligent linking of your BIM
                                        files, IoT data, CAD drawings, PDF documents and many other building lifecycle and ecosystem information on World Wide Web (www).
                                    </span>
                                    <div id="tabs-2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">
                                    <div class="icon3"></div>
                                    Intelligent Analytics
                                </a>
                            </div>
                            <div id="collapse_3" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <span>
                                        The value of data comes with powerfull analytics.<b style="color:#EF4836"> Visua<span style="color:#59ABE3">Lynk</span></b>'s built-in
                                        machine learning and artificial intelligence (AI) algorithms performs efficient analysis on your built environment data. With the linked
                                        building data, your building components will understand each other.
                                    </span>
                                    <div id="tabs-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid padding-side-10">
                <div id="section3"class="large-header3">
                    <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
                        <h1 class="col-md-12 col-sm-12 col-xs-12">Benefit the Unique Features of VisuaLynk</h1>
                    </div>
                    <iframe class="col-md-12 col-sm-12 col-xs-12 framer"src="features/" width="100%" height="100%" style="border:0px solid"></iframe>
                    <div class="accordion in collapse" id="accordion2" style="height: auto;">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_4">
                                    <div class="icon-features-1"></div>
                                    DATA DEPENDENCES
                                </a>
                            </div>
                            <div id="collapse_4" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <p>The deep meaning of your fragmented building information is hidden behind the invisible dependencies. Instead of storing data in siloed manner,
                                        <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span>  focuses on the relationships between each information entity.
                                        The explicitly represented relationships will allow you easily navigate in your data store and find the specific information that you are looking for.</p>
                                    <img src="features/img/screenshot.png" style="width:90%; height:60%; margin-left:20px">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_5">
                                    <div class="icon-features-2"></div>
                                    EASILY SCALABLE
                                </a>
                            </div>
                            <div id="collapse_5" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <p>Your business, your way! <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span>'s powerfull and easy-to-customize modules provides a flexible
                                        platform for the dynamic nature of your tasks, use-cases and business decisions. <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span>
                                        does not force you to change your existing infrastructure and way of work. Instead, it integrates and expands them with each other.</p>
                                    <img src="features/img/IoT.png" style="width:100%; height:110%; text-align:center">
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_6">
                                    <div class="icon-features-3"></div>
                                    SEMANTIC LINKS
                                </a>
                            </div>
                            <div id="collapse_6" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <p>Each of your data entities are automatically linked with each other on-fly.<span style="color:#EF4836"> Visua</span><span style="color:#59ABE3">Lynk</span>'s revolutionary Semantic Linked Data technology makes
                                        your fragmented data a click away with interactive links on www.
                                        Based on your business domain, <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span> offers semantic graphs to serve a baseline data model for further customization
                                        to cater your industry specific needs.</p>
                                    <img src="features/img/semantic.jpg" style="width:85%; height:50%; text-align:center">
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_7">
                                    <div class="icon-features-4"></div>
                                    2D/3D MODEL INTEGRATION
                                </a>
                            </div>
                            <div id="collapse_7" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <p>Your building models are more intelligent with <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span>'s built-in
                                        interactive model viewers. Dynamically integrated 2D and 3D models building models will be an easy path to access semantic building information and it's
                                        explicit relationships.</p>
                                    <img src="features/img/3d.jpg" style="width:70%; height:70%; margin-left:20px">
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_8">
                                    <div class="icon-features-5"></div>
                                    VISUAL QUERIES
                                </a>
                            </div>
                            <div id="collapse_8" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <p>Only text and numbers? Not anymore with <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span>. Each information entity
                                        is represented with an easy-to-remember/recall visual icon. These icons are also linked with their explicit relationships. You don't need to shift between
                                        spreadsheets anymore. With <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span>'s built-in visual query system, related information
                                        will be on your screen with one click.</p>
                                    <img src="features/img/visual.jpg" style="width:75%; height:75%; margin-left:20px">
                                </div>
                            </div>
                        </div>

                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_9">
                                    <div class="icon-features-6"></div>
                                    ARTIFICIAL INTELLIGENCE
                                </a>
                            </div>
                            <div id="collapse_9" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <p>Machine Learning assisted data capture, mapping and analytic techniques provides intelligent assistance for your decision making process. With the semantic mapping and linking of your
                                        fragmented data, <span style="color:#EF4836">Visua</span><span style="color:#59ABE3">Lynk</span> offers efficient business solutions for our customers.</p>
                                    <img src="features/img/ai.png" style="width:80%; height:80%; margin-left:20px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid padding-side-10">
                <div id="section4"class="large-header4">
                    <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
                        <h1 class="col-md-12 col-sm-12 col-xs-12">Meet the Team Behind VisuaLynk <span>We believe small teams can carry a big punch.<br>We are talented, passionate, and dedicated
              team focused on delivering an innovative and easy-to-use platform for our clients.</span></h1>
                    </div>
                    <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="team3/" width="100%" height="100%" style="border:0px solid"></iframe>

                    <div class="span12" id="accordion3">
                        <section class="cf team-container container-fluid">
                            <!-- member-->
                            <div class="team-member row-fluid">
                                <img class="team-photo" src="team3/img/mehmet.png">
                                <h3>Mehmet Yalcinkaya</h3>
                                <span>Entrepreneur, Lead Developer</span>
                                <!-- <a class="email" href="mailto:email@something.com"><span >email</span></a> -->
                            </div>
                            <!-- member-->
                            <div class="team-member row-fluid">
                                <img class="team-photo" src="team3/img/vishal.jpg">
                                <h3>Vishal Singh</h3>
                                <span>Research and Development Manager</span>
                                <!-- <a class="email" href="mailto:email@something.com"><span >email</span></a> -->
                            </div>
                            <!-- member-->
                            <div class="team-member row-fluid">
                                <img class="team-photo" src="team3/img/seppo.png">
                                <h3>Seppo Törmä</h3>
                                <span>Technology Manager</span>
                                <!-- <a class="email" href="mailto:email@something.com"><span >email</span></a> -->
                            </div>
                            <!-- member-->
                            <div class="team-member row-fluid">
                                <img class="team-photo" src="team3/img/teemu.png">
                                <h3>Teemu Lehtinen</h3>
                                <span>Business Developer</span>
                                <!-- <a class="email" href="mailto:email@something.com"><span >email</span></a> -->
                            </div>
                            <!-- member-->
                            <div class="team-member row-fluid">
                                <img class="team-photo" src="team3/img/nam.jpg">
                                <h3>Nam Vu Hoang</h3>
                                <span>Linked Data Expert, Developer</span>
                                <!-- <a class="email" href="mailto:email@something.com"><span >email</span></a> -->
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row-fluid padding-side-10">
                <div id="section5"class="large-header5">
                    <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br>
                        <h1 class="col-md-12 col-sm-12 col-xs-12">VisuaLynk is Proudly Partnering with <span>We believe small teams can carry a big punch.<br>We are talented, passionate, and dedicated
              team focused on delivering an innovative and easy-to-use platform for our clients.</span></h1>
                    </div>
                    <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="partners/" width="100%" height="100%" style="border:0px solid"></iframe>
                    <div class="span12" id="accordation4">
                        <section class="cf team-container">
                            <!-- member-->
                            <div class="team-member">
                                <a href="http://www.granlund.fi/en/" ><img class="team-photo" src="partners/img/granlund.png"></a>
                                <!-- <a href="http://www.granlund.fi/en/">Granlund Oy</a> -->
                                <!-- <a class="email" href="mailto:email@something.com"><span >email</span></a> -->
                            </div>
                            <!-- member-->
                        </section>
                    </div>
                </div>
            </div>
            <div class="row-fluid padding-side-10">
                <div id="section6" class="large-header6">
                    <div class="codrops-header col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br>
                        <h1 class="col-md-12 col-sm-12 col-xs-12">{ cont@ct } us <span>Please write us for any inquiries. We are looking forward to hear from you.</span></h1>
                    </div>
                    <iframe class="col-md-12 col-sm-12 col-xs-12 framer" src="contact/" width="100%" height="100%" style="border:0px solid"></iframe>
                    <div class="span12" id="accordation5">
                        <div class="cont-contactBtn">
                            <div class="cont-flip">
                                <div class="front">
                                    <a href="#" class="btn1 btn-white flip">Send Message</a>
                                </div>
                                <div class="back">
                                    <a href="#" class="flip close"></a>
                                    <form class="contact-form" action="">
                                        <input class="gutter" type="text" placeholder="Name">
                                        <input type="text" placeholder="Company">
                                        <input class="gutter" type="text" placeholder="Telephone">
                                        <input type="text" placeholder="Email">
                                        <textarea name="" id="" placeholder="Leave a message"></textarea>
                                        <input type="submit" value="Send">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>