@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

a:hover, a:focus {
	color: #34495e;
}

section {
	padding: 1em;
	text-align: center;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}

#wrap {
	text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
#frame {
    -ms-zoom:0.9;
    -ms-transform-origin: 0 0;
    -moz-transform: scale(0.9);
    -moz-transform-origin: 0px 50px;
    -o-transform: scale(0.9);
    -o-transform-origin: 0px 50px;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
}
#frame {
    width: 1000px;
    height: calc(100vh - 200px);
    overflow: hidden;
}

/* Header */
.codrops-header {
	margin: 0;
	padding-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
	text-align: center;
	max-width: auto;
	z-index: 999
}

.codrops-header h1 {
	margin: 0;
	font-size: 3em;
	line-height: 1;
	font-weight: 200;
	color:#000000;
	font-family: 'Raleway-Thin'
}

.codrops-header h1 span {
	display: block;
	text-align: center;
	padding-top: 0.5em;
	padding: 1em 0 1.5em;
	/*margin-left: 15em;
	margin-right: 15em;*/
	font-size: 40%;
	color: #000000;
	line-height: 1.6;
	font-family: "Raleway"
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	text-align: center;
	padding: 3em 0;
}

.codrops-top a {
	display: inline-block;
	padding: 1.5em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.8em;
	z-index: 2;
	font-family: "Raleway-Thin";
	position: fixed;
	padding-right: 30px;
	float:right;
	padding-bottom: 5px;
	width: 100%;
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	 /* RGBa with 0.6 opacity */
	background-color: rgba(0, 0, 0, 0.7);
	 /* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	 /* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.nav_button {
	float:right;
	z-index: 2;
}
.logo a	{
	float: left;
	z-index: 2;
	color: #ffffff;
	padding-bottom: 5px;
	font-family: "Raleway-Thin";
	font-size: 30px;
	text-transform: lowercase;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.35em 0.1em;
	padding: 0.5em 1.2em;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius: 2px;
	font-size: 110%;
	border: 2px solid transparent;
	color: #ffffff
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
	border-color: #ffffff;
	color: #ffffff;
}

.codrops-demos h3 {
	margin: 0;
	padding: 1em 0 0.5em 0;
	font-size: 0.9em;
	float: left;
	min-width: 90px;
	clear: left;
	color: #ffffff
}

.codrops-demos div:not(:first-child) h3 {
	padding-top: 2em;
	color:#ffffff;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo {
	color: inherit;
	border-color: initial;
	color: #ffffff;
}

/* Related demos */
.related {
	padding: 2em 0;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	display: inline-block;
	text-align: left;
	margin: 20px 10px;
	padding: 25px;
	/*vertical-align: middle;*/
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
	border-radius: 10px;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	min-height: 63px;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: center;
	font-weight: 400;
	font-size: 1em;
}
.blink {
  color: #19b5fe;
  font-size: 1em;
  animation: blink-anim 0.4s ease 0s infinite alternate;
  font-family: "Raleway-Thin";
}

@media screen and (max-width: 40em) {

	.codrops-header h1 {
		font-size: 30px;
	}
}
