/* Team Member CSS
===========================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import "http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
@import url('http://fonts.googleapis.com/css?family=Open Sans:400,700|Montserrat');
@font-face{font-family:"Raleway-Regular";src:url("../../fonts/Raleway-Regular.ttf")}
@font-face{font-family:"Raleway-Thin";src:url("../../fonts/Raleway-Thin.ttf")}
@font-face{font-family:"Raleway-Medium";src:url("../../fonts/Raleway-Medium.ttf")}
@font-face{font-family:"Raleway-Bold";src:url("../../fonts/Raleway-Bold.ttf");font-weight:bold}
@font-face{font-family:"Raleway-BlackItalic";src:url("../../fonts/Raleway-BlackItalic.ttf");font-style:italic}
@font-face{font-family:"Raleway-BoldItalic";src:url("../../fonts/Raleway-BoldItalic.ttf");font-weight:bold;font-style:italic}
@font-face{font-family:"NotoSans";src:url("../../fonts/NotoSans-Regular.ttf")}

h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  font-family: georgia;
  font-style: italic;
  background-color: white;
  padding: 0px 20px;
  color: #222;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.team-container {
  max-width: 1000px;
  margin: auto;
  border-top: 1px #e9e9e9 solid;
  border-bottom: 1px #e9e9e9 solid;
  padding-top: 3em;
  padding-bottom: 5em;
  margin-top: 3em;
  position: relative;
}

.team-member {
  width: 16%;
  float: left;
  text-align: center;
  margin-right: 5%;
}

.team-member:last-child {margin-right: 0;}


.team-member span,
.team-member h3 {
  max-width: 200px;
  font-family: sans-serif;
  letter-spacing: -1px;
}

.team-member h3 {
  color: #19B5FE;
  font-family: "Raleway-Regular";
  font-size: 19px;
}

.email {
  color: #EA2678;

}

.team-member span {
  display: block;
  font-family: "Raleway-Regular";
}
.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}


.team-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;

  }

}



@media (max-width:650px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }

  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}


/* ENDS Team Member CSS
===========================*/
